:root {
  --white-color: #e4e4e4;
}

body {
  display: grid;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: red;
  grid-area: 1 / 2 / 2 / 6;
  display: grid;
}

.search-bar {
  background-color: purple;
  grid-area: 1 / 1 / 2 / 4;
}

.profile {
  background-color: yellow;
  grid-area: 1 / 4 / 2 / 5;
}

.welcome-message {
  background-color: aqua;
  grid-area: 2 / 1 / 3 / 3;
}

.tool-bar {
  background-color: antiquewhite;
  grid-area: 2 / 3 / 3 / 5;
}

nav {
  background-color: blue;
  grid-area: 1 / 1 / 6 / 2;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding-left: 2em;
  padding-top: 2em;
}

.logo {
  font-size: 2rem;
  font-weight: 500;
  color: var(--white-color);
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

svg {
  height: 1.5em;
  width: 1.5em;
  margin-right: 0.5em;
}

svg path {
  fill: var(--white-color);
}

.menu-item {
  color: var(--white-color);
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1em;
}

.menu-item span {
  font-size: 1.5rem;
  margin-right: 0.8em;
}

main {
  background-color: green;
  grid-area: 2 / 2 / 6 / 6;
}
